.dcheader{
    display: block;
}

.dc{
    position: relative;
    left : 364px;
    top : -13px;
}
.ga{
    position: relative;
    left : 263px;
    top : -13px;
}

.kim{
    position: relative;
    left : 392px;
    top : 7px;
}

.search{
    position: relative;
    left : 750px;
    top : -63px;

    width : 454px;
    height : 46px;
    background-color : #4a57a8;
}
.white{
    position: relative;
    width : 400px;
    height: 34px;
    background:white;
    left: 6px;
    top : 6px;

}
.dinput{
    width: 336px;
    height: 34px;
    padding: 0 9px;
    border: none;
    background: transparent;
    outline: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.dc_s{
    position: relative;
    left: 410px;
    top : -30px;
}