a{
    text-decoration: none;
}
body{
    width: 370px;
    height: 2450px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}
li{
    display: inline-block;
}
li,a,p{
    margin: 0;
    padding: 0;
    border: 0;
}






.dcheader{
    display: block;
}

.dc{
    position: relative;
    left : 364px;
    top : -13px;
}
.ga{
    position: relative;
    left : 263px;
    top : -13px;
}

.kim{
    position: relative;
    left : 392px;
    top : 7px;
}

.search{
    position: relative;
    left : 750px;
    top : -63px;

    width : 454px;
    height : 46px;
    background-color : #4a57a8;
}
.white{
    position: relative;
    width : 400px;
    height: 34px;
    background:white;
    left: 6px;
    top : 6px;

}
.dinput{
    width: 336px;
    height: 34px;
    padding: 0 9px;
    border: none;
    background: transparent;
    outline: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}

.dc_s{
    position: relative;
    left: 410px;
    top : -30px;

}

ul{
    list-style-type: none;
}

.headM{
    position: relative;
    top: -159px;
    left: 1225px;
}

.headM a{
    font-size: 11px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;;
}









.li1:hover{
    text-decoration: underline;
}
.li1::before{
    content: "|";
    color: #ccc;
    font-size: 11px;
    line-height: 11px;
    padding: 0 3px 0 5px;

}

.login{
    position: relative;
    left: 2px ;
    top: 3px;
    display: inline-block;
    background: #4a57a8;
    padding: 0 3px;
    height: 16px;
    line-height: 18px;
    vertical-align: top;
    border: 1px solid #3c4790;
    color: #fff;
    font-size: 11px;
}







.garo{
    position: relative;
    top : -90px;
}

.garo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a57a8;
    width: 1895px;
 
  
}

.garo a{
    position: relative;
    left: 350px;
    color:white;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}



.li2 li:hover{
    text-decoration: underline;
}

.li3{
    margin: 0;
    padding: 0;
    border: 0;
    display: inline;
    list-style: none;
}


.dropClass{
    position: relative;
    left: 350px;
    color:yellow;
    display: block;
    padding:16px;
    text-decoration: none;
    text-align: center;
}



